<style>
/* in the css file or in a style block */
.angular-with-newlines {
    white-space: pre-wrap;
}
</style>
<a href="#/"  class="list-group-item" >back to index</a>
<script>
$(document).scrollTop(0);
</script>
<!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="museum_object featurette-image img-responsive pull-right" ng-src="http://museums.bristol.gov.uk/m-shed/assets/{{img.image}}_detail.jpg"
			 
		   ng-repeat="img in museum_object.images"
		   ng-class="{active: mainImageUrl==img.image}">
            <h2 class="featurette-heading">{{museum_object.name}}
                <span class="text-muted">{{museum_object.type[0]}}</span>
            </h2>
            <p class="lead angular-with-newlines ">{{museum_object.description}}</p>
        </div>

        <hr class="featurette-divider"  ng-repeat="img in museum_object.images">

        <!-- Second Featurette -->
        <div class="featurette" id="services"  ng-repeat="img in museum_object.images">
            <img class="featurette-image img-circle img-responsive" ng-class-odd="'pull-left'"  ng-class-even="'pull-right'" ng-src="http://museums.bristol.gov.uk/m-shed/assets/{{img.image}}_detail.jpg">
            <h2 class="featurette-heading">{{img.name}}
                <span class="text-muted"></span>
            </h2>
            <p class="lead angular-with-newlines ">{{img.description}}</p>
        </div>


        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
<div class="row">


		<div class="col-md-8 center-block">
			<div class="panel panel-default">
			  <div class="panel-heading">Multimedia</div>
			  <div class="panel-body">
			    <div class="thumbnail details-thumb" ng-repeat="img in museum_object.images">
      <img ng-src="http://museums.bristol.gov.uk/m-shed/assets/{{img.image}}_thumb.jpg" ng-click="setImage(img)">
    </div>
			  </div>
	</div>
	</div>
	
</div>

 <div class="panel panel-default">
 <div class="panel-heading">More about this:</div>
 <div class="panel-body">
 <div class="list-group">
  <a href="#/id/{{irn.id}}/{{irn.link}}"  class="list-group-item" ng-repeat="irn in museum_object.child">
    {{irn.name}}
  </a>
</div>
</div>
</div>
 <div class="panel panel-default">
 <div class="panel-heading">This record is part of</div>
<div class="panel-body">
 <div class="list-group">
  <a href="#/id/{{irn.id}}/{{irn.link}}"  class="list-group-item" ng-repeat="irn in museum_object.parent">
    {{irn.name}}
  </a>
</div>
</div>
</div>






<div ng-app="myApp" >
<div ng-controller="HomeCtrl as controller" ng-hide="!museum_object.video">
    <div class="videogular-container" >
        <videogular vg-player-ready="controller.onPlayerReady($API)" vg-complete="controller.onCompleteVideo()" vg-theme="controller.config.theme.url">
            <vg-media vg-src="controller.config.sources"
                      vg-tracks="controller.config.tracks">
            </vg-media>

            <vg-controls>
                <vg-play-pause-button></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>

            <vg-overlay-play></vg-overlay-play>
            <vg-buffering></vg-buffering>
            <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
        </videogular>
    </div>
    <div class="playlist">
         <ul ng-repeat="video in controller.videos" ng-if="$index > 0">
            <li>
                <button ng-click="controller.setVideo($index)">PLAY VIDEO {{$index}} </button>
            </li>
        </ul>
    </div>

 
</div>
</div>




 