<style>
/* in the css file or in a style block */
.angular-with-newlines {
    white-space: pre-wrap;
}
</style>

<script>
$(document).scrollTop(0);
</script>

 <div class="featurette-heading ">
    <h2> {{location}}</h2>
  </div>

<div class="panel-body">
 <div class="panel-heading">This {{museum_object.type[0]}} is part of <a href="#/id/{{irn.id}}/{{irn.link}}"   ng-repeat="irn in museum_object.parent">
    {{irn.name}}
  </a></div>


  
</div>

<!-- Page Content -->
    <div class="container">

      

        <!-- story Featurette -->
        <div class="featurette" id="about">
            <img class="museum_object featurette-image img-responsive pull-right" ng-src="http://museums.bristol.gov.uk/m-shed/assets/{{img.image}}_detail.jpg"
			 
		   ng-repeat="img in museum_object.images"
		   ng-class="{active: mainImageUrl==img.image}">
            <h2 class="featurette-heading">{{museum_object.name}}
                <span class="text-muted" ng-hide="museum_object.summary==null">"{{museum_object.summary}}"</span>
            </h2>
            <p class="lead angular-with-newlines ">{{museum_object.description}}</p>
        </div>

        <hr class="featurette-divider" >  

        <!-- image Featurette -->
        <div class="featurette" id="services"  ng-repeat="img in museum_object.images">
            <img class="featurette-image img-circle img-responsive" ng-class-odd="'pull-left'"  ng-class-even="'pull-right'" ng-src="http://museums.bristol.gov.uk/m-shed/assets/{{img.image}}_detail.jpg">
              <div class="col-lg-12">
                    <p>image: {{img.copyright}}</p>
                </div>
            <p class="lead angular-with-newlines ">{{img.description}}</p>
			  <div class="row">
              
            </div>
        </div>
		
		  <hr class="featurette-divider" ><span class="text-muted" ng-hide="museum_object.objects.length==0"><h4>Related objects...</h4></span>

        <!-- object Featurette -->
        <div class="featurette" id="services"  ng-repeat="object in museum_object.objects">
            <img class="featurette-image img-circle img-responsive" ng-class-odd="'pull-left'"  ng-class-even="'pull-right'" ng-src="http://museums.bristol.gov.uk/m-shed/assets/{{object.image}}_detail.jpg">
			<div class="col-lg-12">
                    <p>image: {{object.copyright}}</p>
                </div>            
			<h2 class="featurette-heading">{{object.name}}               
            </h2>
            <p class="lead angular-with-newlines ">{{object.description}}</p>
			   <p class="lead angular-with-newlines ">{{object.credit_line}}</p>
			
			  <div class="row">
               
            </div>
        </div>

               
            </h2>

        <hr class="featurette-divider">

       

    </div>
    <!-- /.container -->


 <div class="panel panel-default" ng-hide="museum_object.child.length==0">
 <div class="panel-heading">More about this:</div>
 <div class="panel-body">
 <div class="list-group">
  <a href="#/id/{{irn.id}}/{{irn.link}}"  class="list-group-item list-group-item-details" ng-repeat="irn in museum_object.child">
		<div class="thumb_box_list thumb_box_list-details ">  
		<img  ng-src="http://museums.bristol.gov.uk/m-shed/assets/{{irn.image}}_thumb.jpg"/>
		</div>   
		{{irn.name}}
	</a>
</div>
</div>
</div>






<div ng-app="myApp" >
<div ng-controller="HomeCtrl as controller" ng-hide="!museum_object.video">
    <div class="videogular-container" >
        <videogular vg-player-ready="controller.onPlayerReady($API)" vg-complete="controller.onCompleteVideo()" vg-theme="controller.config.theme.url">
            <vg-media vg-src="controller.config.sources"
                      vg-tracks="controller.config.tracks">
            </vg-media>

            <vg-controls>
                <vg-play-pause-button></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button></vg-fullscreen-button>
            </vg-controls>

            <vg-overlay-play></vg-overlay-play>
            <vg-buffering></vg-buffering>
            <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
        </videogular>
    </div>
    <div class="playlist">
         <ul ng-repeat="video in controller.videos" ng-if="$index > 0">
            <li>
                <button ng-click="controller.setVideo($index)">PLAY VIDEO {{$index}} </button>
            </li>
        </ul>
    </div>

 
</div>
</div>
<a href="#/"  class="list-group-item" >back to index</a>

 <!-- Footer -->
        <footer>
          
        </footer>


 